.form-control{
    border-radius: 5px;
    margin-left: 25px;
    width:600px;
}
/* .fa-search{
    z-index: 10;
    position: absolute;
    right: 46px;
    color: blue;
    top: 31%;
} */

.button {
    border: none;
    color: white;
    padding: 14px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }
  