<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i style="" class="fas fa-shipping-fast"></i>
            <strong style="">E-Cart</strong>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search product....">
            </div>                        
            <span style="margin-left: -25px;color: blue;" class="fa fa-search mt-2"></span>
        </div> 
        <button class="button button2">Login</button>         
        <button routerLink="cart" class="btn btn-primary">
            
            <i style="font-size: 30px;" class="fa fa-cart-plus"></i>
            <div class="badge bg-danger">{{totalItemNumber}}</div>
        </button>
    </div>
</header>